<form [formGroup]="CrearPagina">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Desea Nav en su Pagina</label>
        <select class="form-control" #mySelect (change)='cambiar(mySelect.value)'>
      <option value="si">si</option>
      <option value="no">no</option>
    </select>
    </div>
    <div *ngIf="nav==true">
        <div class="form-group">
            <label for="exampleInputEmail1">Elija el color para la barra Nav</label>
            <input type="color" formControlName="ColorNav" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Elija el color De Letra</label>
            <input type="color" formControlName="ColorLetranav" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Fuente De Pagina</label>
            <select class="form-control" formControlName="fuentenav">
        <option style="font-family:Arial;" value="Arial">Arial</option>
        <option style="font-family:Verdana;" value="Verdana">Verdana</option>
        <option style="font-family:Franklin Gothic Medium;" value="Franklin Gothic Medium">Franklin Gothic Medium
        </option>
        <option style="font-family:Impact;" value="Impact">Impact</option>
        <option style="font-family:Haettenschweiler;" value="Haettenschweiler">Haettenschweiler</option>
        <option style="font-family:Times New Roman;" value="Times New Roman">Times New Roman</option>
        <option style="font-family:Helvetica;" value="Helvetica">Helvetica</option>
        <option style="font-family:Courier New;" value="Courier New">Courier New</option>
        <option style="font-family:Courier;" value="Courier ">Courier</option>
        <option style="font-family:Arial Narrow;" value="Arial Narrow">Arial Narrow</option>
        <option style="font-family:Candara;" value="Candara">Candara</option>
        <option style="font-family:Ginebra" value="Ginebra">Ginebra</option>
        <option style="font-family:Garamond;" value="Garamond">Garamond</option>
        <option style="font-family:Perpetua" value="Perpetua">Perpetua</option>
        <option style="font-family:Monaco;" value="Monaco">Monaco</option>
        <option style="font-family:Didot;" value="Didot">Didot</option>
        <option style="font-family:Brush Script MT;" value="Brush Script MT">Brush Script MT</option>
        <option style="font-family:Lucida Bright;" value="Lucida Bright">Lucida Bright</option>
        <option style="font-family:Copperplate;" value="Copperplate">Copperplate</option>
      </select>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Desea Nav en su Pagina</label>
        <select class="form-control" #mySelect1 (change)='cambiar2(mySelect1.value)'>
            <option value="si">si</option>
            <option value="no">no</option>
        </select>
    </div>
    <div *ngIf="footer==true">
        <div class="form-group">
            <label for="exampleInputEmail1">Elija el color para la barra Nav</label>
            <input type="color" formControlName="Colorfoo" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Elija el color De Letra</label>
            <input type="color" formControlName="ColorLetrafoo" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Fuente De Pagina</label>
            <select class="form-control" formControlName="fuentefoo">
                <option style="font-family:Arial;" value="Arial">Arial</option>
                <option style="font-family:Verdana;" value="Verdana">Verdana</option>
                <option style="font-family:Franklin Gothic Medium;" value="Franklin Gothic Medium">Franklin Gothic Medium
                </option>
                <option style="font-family:Impact;" value="Impact">Impact</option>
                <option style="font-family:Haettenschweiler;" value="Haettenschweiler">Haettenschweiler</option>
                <option style="font-family:Times New Roman;" value="Times New Roman">Times New Roman</option>
                <option style="font-family:Helvetica;" value="Helvetica">Helvetica</option>
                <option style="font-family:Courier New;" value="Courier New">Courier New</option>
                <option style="font-family:Courier;" value="Courier ">Courier</option>
                <option style="font-family:Arial Narrow;" value="Arial Narrow">Arial Narrow</option>
                <option style="font-family:Candara;" value="Candara">Candara</option>
                <option style="font-family:Ginebra" value="Ginebra">Ginebra</option>
                <option style="font-family:Garamond;" value="Garamond">Garamond</option>
                <option style="font-family:Perpetua" value="Perpetua">Perpetua</option>
                <option style="font-family:Monaco;" value="Monaco">Monaco</option>
                <option style="font-family:Didot;" value="Didot">Didot</option>
                <option style="font-family:Brush Script MT;" value="Brush Script MT">Brush Script MT</option>
                <option style="font-family:Lucida Bright;" value="Lucida Bright">Lucida Bright</option>
                <option style="font-family:Copperplate;" value="Copperplate">Copperplate</option>
              </select>
        </div>
    </div>
    <button type="button" class="btn btn-outline-info" (click)="enviar()">Enviar</button>
</form>