<app-nav-empresas [nombreE]="nombreE"></app-nav-empresas>
<div class="container" style="margin-top:5rem;">
    <app-modal [nombreE]="nombreE"></app-modal>
    <button type="button" class="btn btn-outline-primary ml-2 mr-2"><a [routerLink]="['/admi-compani',nombreE]">ver mi pagina</a></button>
    <app-produ [nombreE]="nombreE"></app-produ>
    <button type="button" class="btn btn-outline-info ml-2 mr-2" (click)="editar()"> Editar Pagina</button>
    <app-video [nombreE]="nombreE"></app-video>
</div>
<div class="container mt-5" *ngIf="edit==true">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-6">
        <app-formunav [nombreE]="nombreE"></app-formunav>
    </div>
</div>