body {
    align-items: center;
    position: relative;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.navi {
    background: rgb(132, 200, 245);
    border-color: #1a1c1f;
}
