<nav class="navbar navbar-expand-md navi fixed-top" style="background-color: {{colornav}};">
    <a class=" navbar-brand logo " id="logo " ref="# " style="color:{{colorletranav}}; font-family:{{fuentenav}};">{{nombreE}}</a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarsExampleDefault " aria-controls="navbarsExampleDefault " aria-expanded="false " aria-label="Toggle navigation ">
  <span class="navbar-toggler-icon "></span>
</button>

    <div class="collapse navbar-collapse " id="navbarsExampleDefault ">
        <ul class="navbar-nav mr-auto ">
        </ul>
        <ul class="form-inline my-2 my-lg-0 ">
            <ul class="navbar-nav mr-auto ">
            </ul>
        </ul>
    </div>
</nav>